body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f5f5dc; /* Цвет фона - бежевый */
    background-image: url("images/background.jpg"); /* Фон - ваше изображение */
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    padding: 20px 0;
}

.header-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон для секций */
}

.menu-image, .location-image {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    display: block; /* Занимает всю ширину контейнера */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f0f0f0;
}
