body {
    font-family: 'Arial', sans-serif; /* Основной шрифт */
    margin: 20px;
    background-color: #f5f5dc;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

header {
    padding: 30px 0;
    font-family: 'Times New Roman', serif; /* Другой шрифт для заголовка */
    color: #333; /* Цвет текста заголовка */
}

h1 {
    font-size: 3em;
    color: #e74c3c; /* Красный цвет для главного заголовка */
}

h2 {
    font-family: 'Impact', fantasy; /* Шрифт для заголовков секций */
    color: #2980b9; /* Голубой цвет для заголовков секций */
}

section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px; /* Увеличенный отступ */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для секций */
}

#menu ul li {
    font-weight: bold;
    color: #007bff; /* Синий цвет для пунктов меню */
    cursor: pointer;
}

#ingredients {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: left; /* Выравнивание текста слева внутри выдвижного списка */
}


#ingredients img {
    max-width: 20px;
    height: 15px;
    margin-bottom: 10px;
}

.header-image, .location-image {
    max-width: 20px;
    height: 15px;
    margin: 10px 0;
    display: block;
}

footer {
    padding: 20px 0;
}
